#letterSpace {
    background-color: #dfe2e6;
    margin: 3px;
}

#space {
    background-color: #e6ba73;
    margin: 2px;
}

.notGuessed {
    visibility: hidden;
}

.guessed {
    visibility: visible;
}
