#letterSpace {
    background-color:  #e1e1e1;
    margin: 3px;
}

#space {
    background-color: #ffb74d;
    margin: 2px;
}

.notGuessed {
    visibility: hidden;
}

.guessed {
    visibility: visible;
}
